*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero1{
   background-image: url(../../../public/images1/page-heading-bg.jpg);
   height: 50vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}
.hero1 p{
    border: 1px solid white;
    background-color: white;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
}
.hero1 h2{
    color: white;
    font-size: 60px;
    font-weight: bold;
}